nav {
    text-align: center;
}
nav a {
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #eeeeee;
}
  
nav a:hover {
    background-color: orange;
    color: blue;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

a:hover {
    color: blue;
}

a {
    text-decoration: none;
}

.delete:hover {
    color: red;
}

.label {
    text-decoration-line: underline;
}
.war_label {
    text-decoration-line: underline;
}
